.App {
  text-align: center;
  background-color: rgb(175, 175, 175);
}
.header-content {
  background-image: url("./images/backgroundHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 31em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.header-content-after {
  background-image: url("./images/backgroundHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 12em;
  transition: 1.7s;
}

.h2-home {
  font-size: 3em;
  color: #ffffffb0;
}

.header-content nav {
  margin-top: 12%;
}

.home-links a {
  color: rgba(255, 255, 255, 0.459);
  font-size: 1.2em;
  margin-right: 3%;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.home-links a:hover {
  color: rgb(255, 255, 255);
  transition: 0.7s;
}

.home-links a:active {
  color: chocolate;
  transition: 0.1s;
}

.logo {
  border-radius: 50%;
  opacity: 80%;
  max-width: 40%;
  transition: transform 1.7s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.logo-after {
  border-radius: 50%;
  max-width: 18%;
  opacity: 80%;
  transform: translate(-220%, 170%) rotate(360deg);
}

.logo img {
  box-shadow: 5px 5px 15px 5px #000000;
}

.logo:hover {
  opacity: 90%;
  transition: 0.5s;
}

.logo:active {
  opacity: 100%;
}

.current-page-header {
  color: chocolate;
  font-size: 2em;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #c5c5c573;
  width: 50%;
  text-transform: uppercase;
}

.home-map-div-artists {
  display: inline-flex;
  font-size: 13px;
  text-align: center;
  width: 95%;
  align-content: space-between;
}

.img-artists-home {
  height: 70%;
  width: 95%;
  border-radius: 50%;
  opacity: 25%;
}

.img-artists-home:hover {
  opacity: 100%;
  transform: translateX(10px) scale(1.2);
  box-shadow: 5px 5px 15px 5px #000000;
}

.google-maps {
  width: 40%;
  height: 500px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.tattoos-galery {
  height: 19em;
  width: 19.5%;
  margin-top: 1%;
  margin-right: 0.5%;
  border-radius: 15px;
}

.tattoos-galery:hover {
  transform: translatey(5px) scale(1);
  box-shadow: 5px 5px 15px 5px #000000;
}

.p-home-and-gallery {
  font-size: 1.2em;
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 0.5%;
  line-height: 150%;
}

.products-content {
  display: flex;
  color: chocolate;
  flex-wrap: wrap;
}

.products-content div {
  font-size: 0.8em;
  font-weight: bolder;
  width: 29%;
  margin: auto;
  margin-top: 1%;
  align-content: space-around;
  background-color: #c5c5c573;
  text-transform: uppercase;
  padding-bottom: 15px;
  transition: 0.5s;
}

.products-content div:hover {
  box-shadow: 2px 2px 25px 5px #000000;
}

.products-content img{
  width: 100%;
}

.cart-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.cart-product {

}

.cart-product button{
  max-height: 1.5em;
  align-self: center;
}

.total-price {
  width: 100%;
}

#footer {
  position: absolute;
  background-color: #333333;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #ffffff85;
  font-size: 0.8em;
}

.social-midia {
  display: flex;
  align-items: center;
  width: 10%;
  margin-top: 1%;
  align-content: space-around;
}
.social-midia img {
  border-radius: 50%;
  width: 70%;
  opacity: 45%;
}
.social-midia img:hover {
  opacity: 65%;
  transition: 0.5s;
}

.social-midia img:active {
  opacity: 100%;
}
